.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.listWrapper {
  width: 90vw;
  max-width: 1024px;
  display: flex;
  gap: 2vh;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 1vh;
  border-radius: 10px;
  position: sticky;
  top: 1vh;
  height: max-content;
}

.lsTitle {
  font-size: 2vw;
  color: #555;
  margin-bottom: 1vh;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  margin-bottom: 1vh;
}

.lsItem > label {
  font-size: 1.2vw;
}

.lsItem > input {
  height: 3vh;
  border: none;
  padding: 0.5vh;
}

.lsItem > span {
  height: 3vh;
  padding: 0.5vh;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 1vh;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  color: #555;
  font-size: 1.2vw;
}

.lsOptionInput {
  width: 5vw;
}

.listSearch > button {
  padding: 1vh;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}

@media (max-width: 1024px) {
  .lsTitle {
    font-size: 3vw;
  }
}

@media (max-width: 768px) {
  .lsTitle {
    font-size: 4vw;
  }

  .listContainer {
    gap: 5vh;
  }
}

@media (max-width: 480px) {
  .lsTitle {
    font-size: 5vw;
  }

  .listContainer {
    margin-top: 2vh;
    gap: 4vh;
  }
}
