.homeContainer {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.homeTitle {
  width: 90vw;
  max-width: 1024px;
  font-size: 2vw;
}

@media (max-width: 1024px) {
  .homeTitle {
    font-size: 3vw;
  }
}

@media (max-width: 768px) {
  .homeTitle {
    font-size: 4vw;
  }

  .homeContainer {
    gap: 5vh;
  }
}

@media (max-width: 480px) {
  .homeTitle {
    font-size: 5vw;
  }

  .homeContainer {
    margin-top: 2vh;
    gap: 4vh;
  }
}
