.fp {
  width: 90vw;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 2vh;
}

.fpItem {
  flex: 1;
  gap: 1vh;
  display: flex;
  flex-direction: column;
}

.fpImg {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.fpName {
  color: #333;
  font-weight: bold;
}

.fpCity {
  font-weight: 300;
}

.fpPrice {
  font-weight: 500;
}

.fpRating > button {
  background-color: #003580;
  color: white;
  border: none;
  padding: 0.5vh;
  margin-right: 1vw;
  font-weight: bold;
}

.fpRating > span {
  font-size: 1.4vw;
}

@media (max-width: 1024px) {
  .fp {
    gap: 3vh;
  }

  .fpItem {
    gap: 2vh;
  }

  .fpImg {
    height: 30vh;
  }

  .fpRating > span {
    font-size: 1.6vw;
  }
}

@media (max-width: 768px) {
  .fp {
    flex-direction: column;
    align-items: center;
  }

  .fpItem {
    width: 80vw;
    gap: 3vh;
  }

  .fpImg {
    height: 35vh;
  }

  .fpRating > span {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .fpItem {
    width: 90vw;
    gap: 4vh;
  }

  .fpImg {
    height: 40vh;
  }

  .fpRating > span {
    font-size: 2.5vw;
  }
}
