.searchItem {
  border: 1px solid lightgray;
  padding: 1vh;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 2vh;
  margin-bottom: 2vh;
}

.siImg {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  flex: 2;
}

.siTitle {
  font-size: 2vw;
  color: #0071c2;
}

.siDistance {
  font-size: 1.2vw;
}

.siTaxiOp {
  font-size: 1.2vw;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 0.3vh;
  border-radius: 5px;
}

.siSubtitle {
  font-size: 1.2vw;
  font-weight: bold;
}

.siFeatures {
  font-size: 1.2vw;
}

.siCancelOp {
  font-size: 1.2vw;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle {
  font-size: 1.2vw;
  color: #008009;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.siRating {
  display: flex;
  justify-content: space-between;
}

.siRating > span {
  font-weight: 500;
}

.siRating > button {
  background-color: #003580;
  color: white;
  padding: 0.5vh;
  font-weight: bold;
  border: none;
}

.siDetailTexts {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.siPrice {
  font-size: 2.4vw;
}

.siTaxOp {
  font-size: 1.2vw;
  color: gray;
}

.siCheckButton {
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  padding: 1vh 0.5vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .siImg {
    width: 25vw;
    height: 25vw;
  }

  .siTitle {
    font-size: 2.4vw;
  }

  .siDesc {
    gap: 1.5vh;
  }
}

@media (max-width: 768px) {
  .searchItem {
    flex-direction: column;
    align-items: center;
  }

  .siImg {
    width: 50vw;
    height: 50vw;
  }

  .siTitle {
    font-size: 3vw;
  }

  .siDesc {
    gap: 2vh;
  }
}

@media (max-width: 480px) {
  .siImg {
    width: 75vw;
    height: 75vw;
  }

  .siTitle {
    font-size: 4vw;
  }

  .siDesc {
    gap: 3vh;
  }

  .siCheckButton {
    padding: 2vh 1vw;
  }
}
