.featured {
  width: 90vw;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 2vh;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 25vh;
  flex: 1;
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 2vh;
  left: 2vw;
}

@media (max-width: 1024px) {
  .featured {
    gap: 3vh;
  }

  .featuredItem {
    height: 30vh;
  }

  .featuredTitles {
    bottom: 3vh;
    left: 3vw;
  }
}

@media (max-width: 768px) {
  .featured {
    flex-direction: column;
    align-items: center;
  }

  .featuredItem {
    width: 80vw;
    height: 40vh;
  }

  .featuredTitles {
    bottom: 4vh;
    left: 4vw;
  }
}

@media (max-width: 480px) {
  .featuredItem {
    width: 90vw;
    height: 50vh;
  }

  .featuredTitles {
    bottom: 5vh;
    left: 5vw;
  }
}
