.navbar {
  height: 5vh;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 90vw;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.navButton {
  margin-left: 2vw;
  border: none;
  padding: 0.5vh 1vw;
  cursor: pointer;
  color: #003580;
}

@media (max-width: 1024px) {
  .navbar {
    height: 6vh;
  }

  .navButton {
    margin-left: 3vw;
    padding: 1vh 1.5vw;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 7vh;
  }

  .navButton {
    margin-left: 4vw;
    padding: 1.5vh 2vw;
  }
}

@media (max-width: 480px) {
  .navbar {
    height: 8vh;
  }

  .navButton {
    margin-left: 5vw;
    padding: 2vh 2.5vw;
  }
}
